

*.o
*.dep
oneonesource/ticketServer/db/user.txt
oneonesource/ticketServer/config.txt
oneonesource/ticketServer/db/newcode.txt
oneonesource/ticketServer/config_tmp.txt
oneonesource/ticketServer/db/newcode.txt
oneonesource/ticketServer/db/userlogin/gp@woodcol.com.txt
*.pyc
oneonesource/ticketServer/test/2018_05May_10_Thursday.txt
*.db
oneonesource/ticketServer/config_tmp2.txt

v198/minorGems
v198/OneLife
v198/OneLifeData7
*cache.fcz
v198/release/client
v198/release/server
v219/minorGems
v219/OneLife
v219/OneLifeData7
v219/release-win/server.zip
v219/release-win/client.zip
v219/release-mac/client.zip
v219/release-mac/Editor.zip
v219/release-mac/server.zip
v219/release-win/editor.zip
